.App {
  &-logo {
    height: 55px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;
    height: 70px;
    padding: 0 20px;
    ul {
      display: flex;
      li + li {
        margin-left: 10px;
      }
    }
  }

  .register-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >div + div {
      margin-top: 20px;
    }
    label {
      display: block;
      min-width: 90px;
    }
  }

}
